node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.replit
CLUB_FEATURES.md
DEPLOYMENT.md
.env
.env.local
GOOGLE_CREDENTIALS.json
GOOGLE_OAUTH.json
REAL_TIME_FEATURES.md
replit.md
SETUP.md
.env.example
Inp2pBot/bot/DEPLOY_DIGITALOCEAN.md
kexa-io/Kexa/docs/save/MongoDB.md 
omshejul/emerald-vista/.env.example
mr-deepansh/social-media-blog-app/README.md
maniadav/startl.env.example